/* ####�趨�ַ����############# */
@charset "gb2312";
/* #############��ʽ�����ļ�����################# */
/* ��Ԫ��margin��padding���� */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, th, var, optgroup {
    font-style: normal;
    font-weight: normal;
}

/* ����Ԫ������ */
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

abbr, acronym {
    border: 0;
    font-variant: normal;
}

/* �?Ԫ������ */
input, button, textarea, select, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

input, button, textarea, select {
    *font-size: 100%;
}

/* �б�Ԫ������ */
ol, ul {
    list-style: none;
}

/* ���Ԫ�����ã�html��������table��ǩ��ʹ��cellspacing="0"����ø�����������Ч�� */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th {
    text-align: left;
}

sup, sub {
    font-size: 100%;
    vertical-align: baseline;
}

/* Ϊ�˿����Ժ��չ�����������û�Ⱥ����Щα��αԪ����Ҫ���ⶨ����ʽ */
:link, :visited, ins {
    text-decoration: none;
}

:focus {
    outline: 0;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

li {
    list-style: none;
}
