body {
    background: none repeat scroll 0 0 #EEEFEF;
}
.discoverWall {
    height: 450px;
    margin: 15px auto 25px;
    overflow: hidden;
    width: 900px;
}

.discoverWall .con .row {
    height: 145px;
    margin-bottom: 5px;
    overflow: hidden;
    width: 906px;
}

.discoverWall .con .row .cell {
    background: none repeat scroll 0 0 #538792;
    cursor: pointer;
    float: left;
    height: 145px;
    margin-right: 6px;
    overflow: hidden;
    position: relative;
    width: 145px;
}

.discoverWall .con .row .tag {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    height: 20px;
    left: 7px;
    line-height: 20px;
    padding: 0 9px;
    position: absolute;
    top: 120px;
    white-space: nowrap;
    z-index: 2;
}

.hotConBox {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0 auto 243px;
    padding-bottom: 8px;
    width: 900px;
}
.hotConBox .hd {
    overflow: hidden;
    padding: 11px 43px 10px;
}
.hotConBox .hd .titList li.hotTags {
    width: 283px;
}

.hotConBox .hd .titList li {
    border-left: 1px solid #E1EEF2;
    float: left;
    height: 29px;
}

.hotConBox .hd .titList li strong {
    color: #7F98AC;
    font-size: 14px;
    font-weight: normal;
    line-height: 27px;
    padding: 0 0 0 11px;
}

.hotConBox .hd .titList li.excBlog {
    width: 307px;
}
.hotConBox .hd .titList li {
    border-left: 1px solid #E1EEF2;
    float: left;
    height: 29px;
}

.hotConBox .hd .titList li strong {
    color: #7F98AC;
    font-size: 14px;
    font-weight: normal;
    line-height: 27px;
    padding: 0 0 0 11px;
}

.hotConBox .bd .grayRow {
    background: none repeat scroll 0 0 #E9ECF2;
}
.hotConBox .bd .firstRow {
    border-top: 1px solid #CDD8DA;
}
.hotConBox .bd .hotConRow {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #CDD8DA #CDD8DA;
    border-right: 1px solid #CDD8DA;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    float: left;
    height: 56px;
    margin: 0;
    width: 812px;
}

.hotConBox .bd .hotConRow .tagName a {
    color: #000000;
    display: inline-block;
    font-size: 16px;
    line-height: 56px;
    vertical-align: middle;
}

.hotConBox .bd .hotConRow .excBlogList {
    border-right: 1px solid #E2E3E6;
    float: left;
    height: 48px;
}

.hotConBox .bd .hotConRow .avatarMod {
    margin-left: 19px;
    padding-top: 8px;
}
.hotConBox .bd .hotConRow .avatarMod li {
    float: left;
    height: 40px;
    margin-right: 8px;
    position: relative;
    width: 40px;
}

.hotConBox .bd .hotConRow .avatarMod li .img {
    height: 40px;
    position: relative;
    width: 40px;
}
.hotConBox .bd {
    background: none repeat scroll 0 0 #FFFFFF;
    overflow: hidden;
    padding-bottom: 14px;
}

.hotConBox .bd {
    padding: 0 43px;
}

.hotConBox .bd .hotConRow .excBlogList {
    border-right: 1px solid #E2E3E6;
    float: left;
    height: 48px;
}
.hotConBox .bd .hotConRow .avatarMod {
    margin-left: 19px;
    padding-top: 8px;
}

.hotConBox .bd .grayRow {
    background: none repeat scroll 0 0 #E9ECF2;
}

.hotConBox .bd .firstRow {
    border-top: 1px solid #CDD8DA;
}

.hotConBox .bd .hotConRow {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #CDD8DA #CDD8DA;
    border-right: 1px solid #CDD8DA;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    float: left;
    height: 56px;
    margin: 0;
    width: 812px;
}

.hotConBox .bd .hotConRow .tagName {
    border-right: 1px solid #E2E3E6;
    float: left;
    padding-left: 12px;
    width: 271px;
}

.hotConBox .bd .hotConRow .avatarMod li img {
    display: block;
    height: 40px;
    overflow: hidden;
    width: 40px;
}

.content{
    padding: 0px;
}

