@charset "utf-8";
html {
    background: #ffffff;
}

body {
    background: url(bgimg/bg.gif) repeat-x #ffffff;
    height: 900px;

}

#content {

}

#posts .post {
    background-color: #fffff;
    border-radius: 0px 0px 0px 0px;
    padding-top: 0px;
    padding-left: 0px;
}

#site_notice {
    background: #0C758E;
    height: 24px;
    line-height: 18px;
}

#site_notice a {
    padding-top: 2px;
    font-size: 14px;
    color: #e1e1e1;
    padding: 2px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #616161;

}

#right {
    padding-right: 12px;
}

#content {
    background: #AAE8E5;
    filter: alpha(opacity = 85);
    opacity: 0.85;
}

#posts .post .post_avatar {
    background: #000000;
    border-top: 0px;
    border-bottom: 0px;

}

.itemtop {
    width: 100%;
    height: 24px;
    background-image: url(bgimg/itembg.gif);
    margin-bottom: 0px;
}

.post_content {
    padding-left: 15px;
    padding-top: 10px;
    width: 505px;
    table-layout: fixed;
    word-break: break-all;
    overflow: hidden;
}

.post_controls {
    padding: 4px;
    margin-bottom: 0px;
}

.post_controls a {

}

.post_info {
    height: 30px;
    padding: 4px;
    margin-bottom: 0px;

}

#posts .post .post_controls {
    color: #A8B1BA;
    font: bold 13px/15px Arial, Helvetica;
    margin-bottom: 0px;
    min-height: 16px;
    width: 500px;
}

#posts .post .post_info {
    color: #A8B1BA;
    font: bold 13px/15px Arial, Helvetica;
    margin-bottom: 0px;
    min-height: 16px;
    width: 500px;
}

.newavatar img {
    background: #ffffff;
    border: 4px solid #fafafa;
    border-radius: 5px 5px 5px 5px;
}

.tadescs {
    padding-top: 24px;
    color: #ffffff;
    font-size: 24px;
}

.pagea {
    background: #1A7388;
}

.otherimg {
    width: 54px;
    float: left;
    margin: 2px;
    padding: 2px;
    height: 80px;

}